nav li a:hover, nav .logo:hover {
  color: #fff;
}

.skill-btn {
  transition: left 0.3s ease-in-out;
  cursor: pointer;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}

body {
  background-color: #1e1e25;
  color: #fff;
}

.wrapper {
  max-width: 47.5rem;
  margin: 0 auto;
  padding: 2rem;
}

header {
  width: auto;
  padding-top: 1.25rem;
  padding-bottom: 2.5rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
nav .logo {
  font-weight: 700;
  text-transform: uppercase;
  color: #d3d3d3;
  font-size: 1.125rem;
  line-height: 1.75rem;
  letter-spacing: 0.1em;
}
nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 1.5rem;
  list-style: none;
}
nav li a {
  font-size: 1.125rem;
  line-height: 1.75rem;
  letter-spacing: 0.1em;
  color: #d3d3d3;
}

.menu-btn {
  display: none;
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: #1e1e25;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: left 0.3s ease-in-out;
  z-index: 999;
}
.mobile-menu.active {
  left: 0;
}
.mobile-menu .close-btn {
  position: absolute;
  top: 1.25rem;
  right: 1.25rem;
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
}
.mobile-menu ul {
  list-style: none;
  padding: 0;
  margin-top: 3.125rem;
  text-align: center;
}
.mobile-menu ul li {
  margin: 1.25rem 0;
}
.mobile-menu ul li a {
  font-size: 2rem;
  color: #d3d3d3;
  text-decoration: none;
}
.mobile-menu ul li a:hover {
  color: #fff;
}

.home-wrapper {
  padding-top: 1rem;
  padding-bottom: 1.25rem;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 2.5rem;
}

.profile-detail {
  display: flex;
  margin-top: 1rem;
}

.address {
  width: 100%;
}
.address a {
  font-size: 1.25rem;
  line-height: 2rem;
  letter-spacing: 0;
  color: #d3d3d3;
}

.social-links {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  gap: 1.25rem;
}
.social-links a {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 0.25rem;
  font-size: 1rem;
  line-height: 1rem;
  letter-spacing: 0;
  color: #d3d3d3;
}

.tech-stack,
.technical-skills,
.soft-skills {
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  flex-direction: column;
  margin-top: 1.25rem;
  margin-bottom: 5rem;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1.25rem;
  color: #fff;
}

.skill-btn {
  border: 1px solid rgba(211, 211, 211, 0.5);
  background-color: transparent;
  height: 6rem;
  border-radius: 0.5rem;
  padding: 0.75rem;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.375rem;
  color: #fff;
}

.skill-btn:hover {
  background-color: rgba(211, 211, 211, 0.1);
  color: #fff;
}

.skill-btn img {
  transition: transform 0.3s;
}

.skill-btn:hover img {
  transform: translateY(-0.25rem);
}

.education {
  width: 100%;
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  flex-direction: column;
}

.edu-container {
  width: 100%;
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  flex-direction: column;
  gap: 3.5rem;
}

.edu-detail {
  width: 100%;
  display: flex;
  gap: 2.5rem;
}

.date {
  color: #d3d3d3;
  white-space: nowrap;
}

.course-title {
  color: #fff;
  font-size: 1.125rem;
  font-weight: bold;
}

.edu-institution {
  color: #d3d3d3;
  margin-bottom: 1rem;
}

.edu-description {
  color: #d3d3d3;
}

.projects {
  width: 100%;
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  flex-direction: column;
  margin-top: 6rem;
}

#projects {
  font-weight: 700;
  color: #fff;
  font-size: 1.125rem;
  line-height: 1.75rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: 2.5rem;
}

.project-card {
  max-width: 640px;
  margin: 0 auto 4rem auto;
  border-radius: 0.5rem;
  border: 1px solid rgba(211, 211, 211, 0.5);
  padding: 1.25rem;
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  flex-direction: column;
  gap: 1.25rem;
}
.project-card a {
  margin: 0 auto;
}
.project-card a img {
  width: 100%;
  border-radius: 0.375rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.project-detail {
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  flex-direction: column;
}

.project-title {
  font-weight: 600;
  color: #fff;
  font-size: 1.125rem;
  line-height: 1.75rem;
  letter-spacing: 0.1em;
}

.project-description {
  color: #d3d3d3;
  margin-top: 0.75rem;
}

.tech-grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  align-items: center;
  gap: 0.5rem;
  margin-top: 1.25rem;
}

.tech-icon {
  height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 0.375rem;
  padding: 0 1rem;
  border-radius: 624.9375rem;
  font-size: 0.8rem;
}
.tech-icon img {
  width: 1.125rem;
  height: 1.125rem;
}

.project-links {
  width: 100%;
  display: flex;
  justify-content: stretch;
  align-items: center;
  flex-direction: row;
  gap: 0.5rem;
  margin-top: 2rem;
}

.project-link {
  width: 33.333%;
  background-color: rgba(211, 211, 211, 0.1);
  font-size: 0.75rem;
  transition: all 0.3s ease;
  border-radius: 9999px;
  font-weight: 700;
  padding: 0.5rem 1rem;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 0.5rem;
}
.project-link:hover {
  background-color: rgba(211, 211, 211, 0.2);
}

#contact {
  width: 100%;
  display: flex;
  justify-content: stretch;
  align-items: center;
  flex-direction: row;
  padding: 1.5rem 0 0.25rem 0;
  margin-top: 1.25rem;
  border-top: 1px solid rgba(211, 211, 211, 0.2);
}
#contact div {
  color: #d3d3d3;
  display: flex;
  justify-content: stretch;
  align-items: center;
  flex-direction: row;
  gap: 0.5rem;
  transition: color 0.3s ease;
}
#contact div:hover {
  color: #fff;
}
#contact svg {
  width: 1.25rem;
  height: 1.25rem;
  fill: currentColor;
  stroke: none;
}
#contact a {
  text-decoration: none;
  color: inherit;
}

.tech-stack h2 {
  font-size: 1.125rem;
  line-height: 1.75rem;
  letter-spacing: 0.1em;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 2.5rem;
}

.technical-skills h2 {
  font-size: 1.125rem;
  line-height: 1.75rem;
  letter-spacing: 0.1em;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 2.5rem;
}

.soft-skills h2 {
  font-size: 1.125rem;
  line-height: 1.75rem;
  letter-spacing: 0.1em;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 2.5rem;
}

.education h2 {
  font-size: 1.125rem;
  line-height: 1.75rem;
  letter-spacing: 0.1em;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 2.5rem;
}

#projects h2 {
  font-size: 1.125rem;
  line-height: 1.75rem;
  letter-spacing: 0.1em;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 2.5rem;
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
  }
  .menu-btn {
    display: block;
  }
  .home-wrapper {
    flex-direction: column;
    text-align: center;
  }
  .profile-detail {
    flex-direction: column;
    gap: 1rem;
  }
  .social-links {
    justify-content: center;
  }
  /* --- skills --- */
  .skills-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (max-width: 640px) {
  .skills-grid {
    grid-template-columns: repeat(3, 1fr);
  }
  .tech-grid {
    grid-template-columns: repeat(3, 1fr);
  }
  .project-links {
    flex-direction: column;
  }
}
@media (max-width: 500px) {
  .skills-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .tech-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}/*# sourceMappingURL=styles.css.map */